*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


*, :after, :before {
    box-sizing: border-box;
}

:root {
    --hover-color: #1c814d;
}




body {
    font-family: 'Ubuntu', sans-serif;
    background: url(../img/bgi.png) no-repeat;
    background-size: cover;
    overflow-x: hidden;
    
}




.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 58px;
    background: rgba(0, 0, 0, 0.4);

}


.login-navbar {
    display: flex;
    align-items: center;
}

.login-navbar svg {
    margin-left: 25px;

}

.login {
    margin-right: 79px;
}

.header-title {
    font-weight: bold;
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    margin-left: 79px;
    cursor: default
}

.header-title:hover {
    color: var(--hover-color);
    transition: 0.5s;
}

.login {
    font-size: 14px;
    color: #fff;
    margin-left: 53px;
    position: relative;
    letter-spacing: 1.1px;
    cursor: default;
}

.login a {
    color: #fff;
}

.log-in-hover:hover {
    color: var(--hover-color);
    transition: 0.4s;
}

.login::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 19px;
    top: 0;
    left: -26px;
    background: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
}

.svg-box {
    cursor: pointer;

}

.svg-box:hover .logo path {
    fill: var(--hover-color);
    transition: 0.4s;
}



/* Section Form */



 .form-box {
     position: absolute;
     /* top: 50%; */
     top: calc(50% + 58px);
     left: 50%; 
     transform: translate( -50%, -50%);
     
    } 
    
    
 .centering-box   {
     padding-bottom: 38px;
     background-color: #fff;
    width: 444px;
    margin: 0 auto;
    margin-bottom: 79px; 
    margin-top: 54px;
    position: relative; }

.form-description {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 32px;
    padding-bottom: 14px;
    position: relative;
}


.green-block {
    background-color: #3CB878;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 34px;
    left: 0;
}

.form-sign-up {
    color: #434343;
    font-size: 20px;
    text-transform: capitalize;
    margin-right: 90px;
}


.form-log-in {
    text-transform: capitalize;
    font-size: 14px;
    color: #3CB878;
}


/* form -BTN */
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.facebook {
    padding: 17px 22px 17px 67px;
    background: #305DB8;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    position: relative;
}

.facebook:hover {
    background-color: #022263;
    transition: 0.5s;
}

.facebook:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 28px;
    background-color: #0A162F;
    opacity: 0.1;
    top: 10px;
    left: 53px;
}

.google {
    padding: 17px 22px 17px 84px;
    background: #DF4A32;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    margin-left: 7px;
}

.google:hover {
    background-color: #AB1F09;
    transition: 0.5s;
}

.form-log-in:hover {
    color: #01813F;
    cursor: pointer;
    border-bottom: 1px solid #01813F;
}

.google:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 28px;
    background-color: #0A162F;
    opacity: 0.1;
    top: 10px;
    left: 279px;
}

.btn .fb-img {
    position: absolute;
    top: 12px;
    left: 87px;
    height: 24px;
}

.btn .gg-img {
    position: absolute;
    top: 15px;
    left: 240px;
    height: 19px;
    width: 30px;
}

/*  */

.or {
    color: #848484;
    text-align: center;
    margin-top: 31px;
    position: relative;
    margin-bottom: 11px;
}

.or::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 60px;
    height: 1px;
    width: 149px;
    background-color: #F2F2F2;
}

.or::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 60px;
    height: 1px;
    width: 149px;
    background-color: #F2F2F2;
}

/* INPUT section */
.input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.checkbox-block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 75px;
    margin-bottom: 20px;
    position: relative;

}



.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.checkbox-label {
    font-size: 14px;
    color: #434343;
    text-align: center;
    font-family: 'Ubuntu';
    margin-left: 33px;
}

.checkbox-span {
    color: #3CB878;
}

.checkbox-block:hover .checkbox-span {
    border-bottom: 1px solid #01813F;
    color: #01813F;
    transition: 0.4s;
}

/* .checkbox-span:hover {
    border-bottom: 1px solid #01813F;
    color: #01813F;
    transition: 0.4s;
}  */

.check-style {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -3px;
    left: 4px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    cursor: pointer;

}


.checkbox:checked+.check-style {
    background-image: url(../img/enabled.svg);
}


/* CREATE ACCOUNT btn */
.submit-btn:hover {
    background-color: #01813F;
    transition: 0.5s;

}

.input {
   width: 324px;
    height: 44px;
    padding: 16px 20px 20px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    background: #fff;
    outline: none;
    font-size: 14px;
}

.input::placeholder {
    color: #BEBEBE;
  
}

.input:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.submit-btn {
    padding: 16px 0px;
    width: 324px;
    background: rgba(60, 184, 120, 0.8);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    font-family: 'Ubuntu';
    cursor: pointer;
}