* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


:root {
   --gradient: linear-gradient(#EC6F66 0%,
   #F3A183 100%);
   --gradient2: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 33%, rgba(252,176,69,1) 100%);
}

body {
   font-family: 'Poppins', 'Rubik' 'Roboto' sans-serif;
}

section {
   margin: 0 350px ;

}


.title {
   text-align: center;
   Font-size: 50px;
   Line-height: 60px;
   letter-spacing: 0.2px;
   text-transform: uppercase;
   background-image: var(--gradient);
   color: transparent;
   -webkit-background-clip:  text;  /* обрезает фон и дает градиент тексту */
   
}

.info {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.info-wrapper {
   width: 1200px;
   display: flex;
   margin: 25px 0;
   border-radius: 10px;
   box-shadow: 0px 0px 5px rgba(0, 0, 0, 0247);
   padding: 50px;
   column-gap: 50px;
 
}



.info-number {
   padding:22px;   
   font-size: 36px;
   font-weight: bold;
   color: #F7F7FA;
   background-image: var(--gradient);
   border-radius:  6px;
   font-family: 'Poppins';
   margin-bottom: 26px;
   height: 90px;
  
}

.info-title {
   font-size: 18px;
   line-height: 21px;
   color: #031D5B;
   margin-bottom: 50px;
   font-weight: bold;
   position: relative;
   font-family: 'Rubik';

}


.info-title::after {
   content: "";
   bottom: -29px;
   left: 0;
   width: 72px;
   height: 4px;
   position: absolute;
   background-image: var(--gradient);
   font-weight: bold;

}
.info-text {
Line-height: 28px;
color: #3A3A44;
font-family: 'Roboto';
}

.info-title:hover {
   background-image: var(--gradient2);
   color: transparent;
   -webkit-background-clip:  text;
}


.info-text:hover {
   transform: scale(1.1);
   background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(50,9,121,1) 35%, rgba(0,212,255,1) 100%);;
   color: transparent;
   -webkit-background-clip:  text;
   transition: 1s;
}

