header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 36px;
  background: #3B5998;
  color: #fff;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;

  nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  ul {
    display: flex;
    list-style: none;
  }

  li {
    margin: 0 15px;
  }

  a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
  }
}

.headerTitle {
  font-size: 20px;
}


