/* переменные в CSS */
/* :root {
   --main-color: yellow;
   --main-dark-color: red;
}
p {
color: var(--main-color);
}

.p2 {
   color: var(--main-dark-color);
} */

/* SVG */
/* Векторная графика, не теряет качество. Рисуется точечно по пикселям.
Можно отобразить текст, картинку, лого. Состоит из нескольких частей в Figma. */

* {
   margin: 0;
   padding: 0;
}


   
