* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}


.navbar-menu {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    margin: 26px 0;
}

.navbar-menu a {
    padding: 60px;
    text-decoration: none;
    color: #FF0000;

}



img {
    width: 100%;
    margin-bottom: 50px;
    /* max-height: 789px;
    object-fit: cover; */
}

.title {
    text-transform: uppercase;
    color: #373737;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 3.3px;
    margin-bottom: 40px;
}

.description {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    padding: 0 67px 30px;

}


.btn-container {
    text-align: center;

}

.btn {
    text-transform: uppercase;
    width: 191px;
    height: 51px;
    background: #FF0000;
    border-radius: 4px;
    border: none;
    margin: 66px 0 82px;
    cursor: pointer;
}



.btn-name {
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    color: #fff;
}


.footer-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: end;
    letter-spacing: 2.4px;
    color: #373737;
    padding-right: 105px;
    padding-bottom: 30px;
}