.modal {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left:0;
}


.background {
    position: absolute;
    background: rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
      
}

.content {
    background: #E74C3C;
    width: 513px;
    height: 252px;
    position: relative;
    &-top {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: #D44637;
    }
    &-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        
    }
    
}

.deleteWarnings {
    font-weight: bold;
    color: #fff;
    font-size: 23px;
}

.deleteDescr {
    margin-top: 25px;
    color: #fff;
    text-align: center;
    line-height: 26px;
    font-weight: bold;
    font-size: 14px;
    
}


.btn {
    color: #fff;
    width: 95px;
    height: 41px;
    border-radius: 3px;
    background-color: #B3382C;
    outline: none;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 5px #02010e;
    }
    &:active {
        box-shadow: inset 0 0 3px #01090a;
    }
    
}
.confirmBtn {
    margin-right: 10px;

}


.btnCloseModal {
    background: #D44637;
    color: #fff;
    border: none;
    font-size: 25px;
    margin-left: 60px;
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 5px #fff;
    }
}


// second modal

.modal-content {
    margin: 10% auto;
    width: 60%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    position: relative;
  }
  
  .modal-header h2,
  .modal-footer h3 {
    margin: 0;
  }
  
  .modal-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    background: #428bca;
    padding: 15px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .modal-body {
    padding: 10px 20px;
    background: #fff;
  }
  
  .modal-footer {
    background: #428bca;
    padding: 10px;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .close {
    color: #ccc;
    float: right;
    font-size: 30px;
    color: #fff;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  

.checkbox {
    cursor: pointer;
}
.agree-btn {
    color: #fff;
    width: 95px;
    height: 41px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #3584ce;
    outline: none;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 0 5px #02010e;
    &:active {
        box-shadow: inset 0 0 3px #3584ce;
    }&:hover {
        background-color: blue;
        transition: .3s ease-out;
    }
}
.flex {
display: flex;
justify-content: center;
align-items: center;
margin-top: 25px;
margin-bottom: 25px;
    }