* {
    margin: 0;
    padding: 0;
}

    body {
        font-family: Montserrat, Lato sans-serif;
        
    }

.container {
    width: 1170px;
    margin: 0 auto;
    }


    .hero {
        background-image: url(./img/bgimg.png);
        padding: 528px 0 133px 224px ;
        background-repeat: no-repeat;
        background-size:  cover;
        background-position: center;
        color: white;
    }


    .hero-title {
        font-weight: bold;
        line-height: 59px;
        font-size: 48px;
        /* color: white; */
        margin-bottom: 16px;
        text-transform: uppercase;
    }


    .hero-subtitle {
        font-size: 18px;
        line-height: 22px;
        /* color: white; */
    }