* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: Montserrat, Lato sans-serif;

}

.container {
    width: 1170px;
    margin: 0 auto;
}


.hero {
    background-image: url(../img/bgimg.png);
    padding: 528px 0 133px 224px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}


.hero-title {
    font-weight: bold;
    line-height: 59px;
    font-size: 48px;
    /* color: white; */
    margin-bottom: 16px;
    text-transform: uppercase;
}


.hero-subtitle {
    font-size: 18px;
    line-height: 22px;
    /* color: white; */
    margin-bottom: 22px;
}


.hero-slogan {
    /* либо - display: inline-block; либо - width: max-content */
    width: max-content;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 66px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 38px 31px;
    border: 1px solid white;
}



.nav-title {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
}

.nav {
    padding-bottom: 22px;
    border-bottom: 3px solid #F1B128;
    margin-bottom: 100px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* font-weight: bold; */
}


.nav-title {
    /* display: inline-block; */
    /* margin-right: 212px; */


}

.nav-menu {
    text-transform: uppercase;
    /* display: inline-block; */
    display: flex;
    column-gap: 69px;



}

.nav-menu-item {
    /* display: inline-block; */
    text-decoration: none;
    /* padding-left: 69px; */
    list-style-type: none;


}


.nav-menu-link {
    text-decoration: none;
    color: black;
    font-weight: bold;



}




.info {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;

}


.img-wrapper {
    display: flex;
    gap: 22px 30px;
    width: calc((100% - 30px) / 2);
    flex-wrap: wrap;


}


.info-wrapper {
    width: calc((100% - 30px) / 2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}


.info-title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    /* margin-bottom: 22px; */
}

.info-wrapper-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #505050;
    /* margin-bottom: 36px; */
}




.info-link {
    background: #F1AD1D;
    padding: 19px 27px;
    font-size: 14px;
    color: white;
    /* display: inline-block; */
}




/* Section Portfolio */
.portfolio {
    margin-top: 100px;
    margin-bottom: 100px;
    /* display: flex;
    flex-wrap: wrap; 
     justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 850px;
    /* align-content: space-between; */
} 


.item-img img {
    width: 100%;
}


.item-logo {
    display: flex;
    margin-top: 7px;
    align-items: center;
    column-gap: 8px;
}


.item {
    width: 370px;
}

.item-logo-edit {
    padding: 10px;
    background-color: #333333;

}


.item-logo-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

}

.item-description {
    margin-top: 15px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #505050;
    padding-bottom: 14px;
    border-bottom: 1px solid #C1C1C1;
    
}



.item-data {
    display: flex;
    justify-content: space-between;
    margin-top: 11px;
    line-height: 18px;
	color: #828282;
	font-size: 12px;
}

.item-data-date {
    margin-top: 29px;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #828282;
    text-transform: uppercase;
}

.item-data-link {
    margin-top: 29px;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
}


.orange-text {
    color: #F48E0B;
}