.firstBtn {
    border: none;
    box-shadow: 0 0 5px #02010e;
    font-weight: bold;
    margin: 10px;
    color: #fff;
    text-transform: capitalize;
    width: 150px;
    height: 50px;
    margin-right: 10px;
    &:hover {
        box-shadow: 0 0 5px #D44637;
    }
}


.secondBtn {
    border: none;
    box-shadow: 0 0 5px #02010e;
    font-weight: bold;
    margin: 10px;
    color: #fff;
    text-transform: capitalize;
    width: 150px;
    height: 50px;
    margin-right: 10px;
    &:hover {
        box-shadow: 0 0 5px #428bca;
    }
}

