.grid-element {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    border: 1px solid #fff;
}


.grid-container {
    display: grid;
    grid-auto-flow: row;
    /* grid-template-columns: minmax(max-content, 1fr) 2fr 1fr; */
    grid-template-rows: minmax(100px, auto);
    grid-auto-rows: 50px 150px;
    grid-template-areas:
    "item1 item1 item2 ."
    "item4 item5 item5 item3"; 

    justify-content: start; 
    align-content: start; 

    gap: 10px 20px;

    height: 900px;
    width: 100%;
/* 
    .grid-element:nth-child(1) { 
        grid-area: item1;
    }
    
    .grid-element:nth-child(2) {
        grid-area: item2;
    }
    
    .grid-element:nth-child(3) {
        grid-area: item3;
    }
    
    .grid-element:nth-child(4) {
        grid-area: item4;
    }
    
    .grid-element:nth-child(5) {
        grid-area: item5;
    }
     
} */


    





