.grid{
    margin-bottom: 67px;
}

.grid-item{
    width: 370px;
    margin-bottom: 17px;
    overflow: hidden;
    position: relative;
}

.grid-item img{
    width: 100%;
    height: 100%;
}

.grid-hover{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 99%;
    transition: 0.5s;
    color: #fff;
    background:  rgba(0, 0, 0, 0.6);
    opacity: 0;
}

.grid-hover a{
    text-align: center;
    margin: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    background-color: #00cbf6;
}

.grid-hover a i {
    color: #fff;
}

.grid-item:hover .grid-hover{
    opacity: 1;
}

.grid-item-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.grid-item-container img{
    width: 33.3%;
}

.grid-item-two {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
.grid-item-two img {
width: 50%;
}