* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: border-box;
}

:root {
  --main-color: #18cfab;
  --grey-color: #d4d4d4;
  --section_title: #4e4e4e;
  --tabs-bg: #f8fcfe;
  --tabs-title: #717171;
  --tabs-descr: #777777;
  --hover-p: #8a8a8a;
  --news-card: #203e38;
}


body {
  font-family: "Montserrat", sans-serif;
}




/* common classes */
.section_title {
  color: var(--section_title);
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
}


.section_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section_green_lines {
  width: 90px;
  /* border-width: 1px; */
  border-style: solid;
  box-shadow: 18px 5px var(--main-color);
  /* background-color: var(--main-color); */
  margin-bottom: 50px;
  color: var(--main-color);
  margin-top: 24px;
}

/* end */
.container {
  margin: 0 auto;
  width: 1160px;
  /* padding: 0 20px; */
}

/* HEADER */
.header {
  height: 1017px;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../Step\ Project\ IMG/backgroundIMG/header.jpg);
}

.header-upper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: rgba(94, 93, 88, 0.6);
  height: 120px;
}

.title {
  display: flex;
  align-items: center;
}

.title_name {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
}

.ham_span {
  color: var(--main-color);
}

.logo {
  width: 58px;
  height: 67px;
  background-color: var(--main-color);
  color: #fff;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
}

.logo_name {
  font-size: 40px;
  color: #fff;
  font-weight: bold;
  line-height: 31px;
}

.list_menu {
  list-style-type: none;
  display: flex;
}

.list_item {
  margin-left: 21px;
  text-transform: uppercase;
}

.list_link {
  padding-bottom: 50px;
  text-decoration: none;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.6);
}

.list_link:hover {
  color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
}

.fa-search .fas {
  width: 22px;
  height: 22px;
}

.search {
  color: rgba(255, 255, 255, 0.6);
  margin-left: 21px;
  cursor: pointer;
}

.search:hover {
  color: var(--main-color);
  transition: 1s;
}

/* HEADER END */

/* 1 SECTION (HAM-WORDPRESS) */
.ham_wordpress {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 264px;
}

.ham_wordpress__title {
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  line-height: 1px;
  font-size: 35px;
}

.ham_wordpress__span {
  color: var(--main-color);
}

.haw_wordpress_middle__title {
  text-transform: uppercase;
  font-size: 78px;
  font-weight: bold;
  color: #fff;
}

.ham_wordpress__slogan {
  text-transform: capitalize;
  font-size: 34px;
  line-height: 1px;
  color: var(--grey-color);
}

.btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

.btn_link {
  padding: 20px 18px;
  font-size: 15px;
  margin-right: 38px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  outline: none;
  font-weight: bold;
  border-radius: 5px;
  border-top: 5px solid #fff;
  cursor: pointer;
}


.btn_link:hover {
  background-color: #00cbf6;
  transition: 0.5s;
}

.main-color {
  background-color: var(--main-color);
}

.main-color:hover {
  box-shadow: 0 0 5px #00cbf6;
}

.main-color:active {
  box-shadow: inset 0 0 3px #00cbf6;
}


.blue-color:hover {
  box-shadow: 0 0 5px #00cbf6, 0 13px 10px rgba(0, 0, 0, 0.22);
  ;

}

.blue-color:active {
  box-shadow: inset 0 0 3px #00cbf6, 0 13px 10px rgba(0, 0, 0, 0.22);
  ;
}

/* SVG LINE SECTION */

.our_benefits {
  display: flex;
  flex-direction: row;
}

.our_benefits div:nth-child(odd) {
  background-color: #1c2a33;
  width: 482px;
  height: 377px;
}

.our_benefits div:nth-child(even) {
  background-color: var(--main-color);
  width: 482px;
  height: 377px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 5px solid #fff;
}

.card_description {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}

.odd {
  color: var(--main-color);
  margin-top: 48px;
}

.even {
  color: #fff;
  margin-top: 58px;
}

/* OUR SERVICES SECTION */

.our_services {
  margin-top: 83px;
}

/* OUR SERVICES tabs subsection */

.tabs {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #717171;
  justify-content: space-evenly;
  position: relative;
}

.tabs-title {
  background-color: var(--tabs-bg);
  cursor: pointer;

  text-align: center;
  width: 194px;
  margin-bottom: 23px;
  padding: 20px;
  border: 1px solid #edefef;
}

.tabs-title:hover {
  border: 1px solid var(--main-color);
}

.tabs-title.active {
  background-color: var(--main-color);
  color: #fff;
  border: 1px solid var(--main-color);
  position: relative;
}

.tabs-title.active::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 15px;
  background-color: var(--main-color);
  left: 75px;
  top: 59px;
  clip-path: polygon(51% 100%, 15% 0, 91% 0);
}

.tabs-article {
  display: none;
}

.tabs-article.active {
  display: block;
  display: flex;
}

.flex {
  margin-bottom: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  color: var(--tabs-descr);
  font-weight: 300;
  font-size: 14px;
  text-align: justify;
  line-height: 24px;
  margin-bottom: 91px;
  list-style: none;
}

.tabs-img {
  width: 192px;
  height: 139px;
  margin-right: 15px;
}

/* OUR SERVICES bg section */

.our_services_bg_section {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../Step\ Project\ IMG/backgroundIMG/section-2.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 476px;
  width: 100%;
  padding: 125px 0px;
  /* padding-bottom: 96px; */
}

.section_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bg_section_title {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  color: var(--main-color);
  text-transform: uppercase;
  margin-bottom: 12px;
}

.bg_section_slogan {
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
  color: #d8d8d8;
  text-align: center;
  margin-bottom: 62px;
}

/* OUR AMAZING WORK SECTION */

.bg {
  padding-top: 96px;
  background-color: #f8fcfe;
}

.our_amazing_list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #717171;
  background-color: #fff;
  margin: 84px 241px;
}


.our_amazing_list_item {
  cursor: pointer;
  text-align: center;
  padding: 20px 28px;
  border: 1px solid #dadada;

  cursor: pointer;
  text-align: center;
  padding: 10px;
  border: 1px solid #dadada;
  width: 150px;
  display: flex;
  align-items: center;
  height: 58px;
  justify-content: center;
}


.our_amazing_list_item:first-child {
  width: 78px;
}

/* WHOLE IMG WRAPPER */
.img_work_wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/* IMG  DIV  CLASS*/
.blocks-item {
  position: relative;
  height: 211px;
  overflow: hidden;
}

/*  WHOLE IMG CLASS */
.amazing_work_img {
  width: 285px;
  height: 211px;
}

/* HOVER CLASS */
.hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top: 4px solid var(--main-color);
  background-color: #fff;
  width: 285px;
  height: 211px;
  position: absolute;
  top: -280px;
  left: 0;
  transition: 1s;
}

/* hover icon */

.hover-icon {
  text-align: center;
  margin-bottom: 24px;
}

.fa-link {
  display: inline-block;
  line-height: 40px;
  height: 40px;
  width: 40px;
  border: 1px solid var(--main-color);
  border-radius: 50%;
  color: var(--main-color);
  background-color: #fff;
}

.fa-stop {
  display: inline-block;
  line-height: 40px;
  height: 40px;
  width: 40px;
  border: 1px solid var(--main-color);
  border-radius: 50%;
  color: var(--main-color);

  background-color: #fff;
}

.hover-fa:hover {
  cursor: pointer;
  color: #fff;
  background-color: var(--main-color);
  transition: 0.5s;
}

.hover-title {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
  color: var(--main-color);
  text-transform: uppercase;
}

.hover-list-name {
  color: var(--hover-p);
  font-weight: 300;
  font-size: 12px;
  line-height: 25px;
}

.blocks-item:hover .hover {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.blocks-item:hover .hover_graf_design {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.blocks-item:hover .hover_landing_page {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.blocks-item:hover .hover_wordpress {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

/* btn LOAD MORE */
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
  padding-bottom: 107px;
}

#preloader {
  margin-bottom: 25px;
  display: none;
}



.btn-boxed {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 55px;
  margin-bottom: 70px;

}

.btn-news {
  background-color: transparent;
  border: 2px solid var(--main-color);
  border-radius: 9px;
  color: var(--main-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 12px 28px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;

}

.btn-news:hover {
  color: #fff;
  outline: 0;
  
}


.first {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.first:hover {
  box-shadow: 0 0 40px 40px var(--main-color) inset;
}


.btn_load {
  padding: 13px 13px 6px 20px;
  font-size: 14px;
  line-height: 42px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  outline: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;

}

.btn_load:hover {
  background-color: var(--main-color);
  box-shadow: inset 0 0 7px var(--main-color);
  ;
  transition: 0.5s;
}

.btn_load:active {
  box-shadow: inset 0 0 7px var(--main-color);
  transition: 0.5s;
}



.load-color {
  background-color: var(--main-color);
}

.load-color:hover {
  background-color: #00cbf6;
  transition: 0.5s;
}

.load-color:active {
  box-shadow: 0 0 5px #00cbf6;
  transition: 0.5s;

}


.btn_load:before {
  content: "+";
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  vertical-align: middle;
  margin-right: 15px;
}

/* класс активности для табов в our amazing work */
li.active-tab {
  border: 1px solid var(--main-color);
  color: var(--main-color);
}

/* класс скрывающий вторые 12 картинок */
.hidden {
  display: none;
}

.hide {
  display: none;
}



/* BREAKING NEWS SECTION */

.breaking_news {
  margin-top: 82px;
  /* margin-bottom: 128px; */
}

.breaking_news_wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 35px;
  row-gap: 44px;
}

.card_link {
  text-decoration: none;
  position: relative;
  border: 1px solid #f1f3f4;
  background-color: var(--tabs-bg);
}

.overflow_forImg {
  overflow: hidden;

}


.card_link img:hover {
  transform: scale(1.2);
  transition: 1s;
}

.card_date {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  margin-bottom: 10px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 67px;
  height: 65px;
  color: #fff;
  background-color: var(--news-card);
}

.img_title {
  font-weight: bold;
  font-size: 18px;
  line-height: 39px;
  color: var(--tabs-title);
  padding-left: 15px;
}

.admin {
  display: flex;
  margin-left: 15px;
}

.admin_info {
  font-weight: 300;
  font-size: 14px;
  line-height: 39px;
  color: var(--tabs-descr);
  position: relative;
}

.admin_info:after {
  content: "|";
  position: absolute;
  top: 0;
  left: 82px;
  color: var(--tabs-descr);
}

.admin_comment {
  margin-left: 35px;
  font-weight: 300;
  font-size: 14px;
  line-height: 39px;
  color: var(--tabs-descr);
}

.card_link:hover .card_date {
  background-color: var(--main-color);
  transition: 0.7s;
}

.card_link:hover .img_title {
  color: var(--main-color);
  transition: 0.7s;
}

/* SLIDER SECTION  */
.people_about_ham {
  padding: 100px 0px;
  height: 903px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../Step\ Project\ IMG/backgroundIMG/section-3.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  /* width: 100%; */
  margin-bottom: 108px;
}

.white {
  color: #fff;
}

.quote {
  margin-top: 26px;
  margin-bottom: 36px;
}

.person-descr {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #bbb;
  text-align: center;
  margin-bottom: 37px;
}

.person {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.name {
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: var(--main-color);
  margin-bottom: 10px;
  text-transform: uppercase;
}

.job_position {
  font-weight: 300;
  font-size: 14px;
  line-height: 30px;
  color: #bbb;
  margin-bottom: 38px;
}

.person_pic_box {
  width: 166px;
  height: 166px;
  background-color: #18cfab50;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
}

.person_pic {
  vertical-align: middle;
  width: 143px;
  height: 144px;
}

.person_pic_box:hover .person_pic {
  border: 2px solid var(--main-color);
  border-radius: 50%;
  transform: scale(1.25);
  cursor: zoom-in;
}

.active2 .person_pic_box {
  border: 3px solid var(--main-color);
  border-radius: 50%;
}

.active2.person_small_block {
  border: 4px solid var(--main-color);
  border-radius: 50%;
  transition: 0.5s;
  box-shadow: 0 19px 38px rgba(24, 207, 171, 0.2),
    0 13px 10px rgba(0, 0, 0, 0.22);
}

.carousel-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 57px;
}

.left-cursor {
  width: 31px;
  height: 31px;
  border: 1px solid #bbb;
  position: relative;
  cursor: pointer;
}

.fa-chevron-left {
  width: 14px;
  height: 14px;
  position: absolute;
  left: 7px;
  top: 8px;
  color: #bbb;
}

.fa-chevron-right {
  width: 14px;
  height: 14px;
  position: absolute;
  left: 8px;
  top: 8px;
  color: #bbb;
}

.left-cursor:hover .fas {
  color: #fff;
}

.left-cursor:hover {
  background-color: var(--main-color);
  border: none;
}

.right-cursor:hover .fas {
  color: #fff;
}

.right-cursor:hover {
  background-color: var(--main-color);
  border: none;
}

.right-cursor {
  width: 31px;
  height: 31px;
  border: 1px solid #bbb;
  position: relative;
  cursor: pointer;
  /* margin-left: 444px; */
}

.small_img_wrap {
  display: flex;
  margin-left: 35px;
}

.person_small_block {
  width: 64px;
  height: 64px;
  background-color: #18cfab50;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 38px;
  cursor: pointer;
}

.person_small_img {
  vertical-align: middle;
  width: 60px;
  height: 60px;
}

.person_small_block:hover {
  border: 3px solid var(--main-color);
  border-radius: 50%;
}

/* класс с карточкой в слайдере */
.person_item {
  display: none;
}

.active2 {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.slider__nav-btn_active {
  background: #444;
  border-color: #000;
  color: #fff;
}

/* GALLERY BES IMG (MASONRY) SECTION */
.gallaery_of_best_img {
  margin-bottom: 115px;
}


.scrollUp {
  position: fixed;
  bottom: 130px;
  right: 25px;
  width: 50px;
  height: 50px;
  z-index: 10;
  display: none;
}

.scrollUp:hover {
  cursor: pointer;

}



/* FOOTER */

.footer {
  background-color: #22353f;
  height: 121px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copy {
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #aeaeae;
}

.foot_title {
  color: var(--main-color);
}