* {
  margin: 0;
  padding: 0;
}

#cards__list {
  display: flex;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}

body {
  background: #1a2849;
  /* min-height: 100%; */
  /* max-width: 1600px; */
}

.cards {
  max-width: 1200px;
}

p {
  font-size: 1.6rem;
}

.film-opening {
  margin-bottom: 20px;
  }

  .film-title{
    margin-bottom: 20px;
    }

.top-content {
  font-size: 4rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  color: #fff;
}

#cards {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 1200px; */
}

/* .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
} */

.grid-item {
  height: 100em;
  width: 200px;
  color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1;
  text-align: justify;
  margin: 10px 10px;
  padding: 20px;
}


.novice {
  background: linear-gradient(rgba(80, 91, 218, 0.9), rgba(80, 91, 218, 0.9)),
    url(https://images.pexels.com/photos/2679814/pexels-photo-2679814.jpeg?cs=srgb&dl=adventure-alberta-backpack-2679814.jpg&fm=jpg) no-repeat center
      center/cover;
}

.grid-item ion-icon {
  font-size: 4rem;
}

.film-title{
  margin-bottom: 20px;
  }
  .film-episode {
  margin-bottom: 20px;
  }
  
  .film-opening {
  margin-bottom: 20px;
  }
  
  .film-characters {
    margin-top: 20px;
    display:flex;
    flex-wrap: wrap;

 
  } 

  .char{
display: block;
font-size: 30px;
width: 300px;
  }





@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .expert {
    margin-bottom: 5rem;
  }
}

@media (max-width: 425px) {
  .top-content {
    font-size: 3rem;
    height: 20vh;
  }
  .grid-item {
    padding: 2rem;
  }
}

@media (max-width: 320px) {
  .top-content {
    font-size: 2.5rem;
  }
  .grid-item {
    width: 250px;
  }
}
