.button {
    padding: 1.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    outline: none;
    border: none;
    border-radius: 1.5rem;
    background-color: #B3382C; 
    color: #ffffff;
    &__controls {
        padding: 1rem .5rem;
        outline: none;
        border: none;
        border-radius: 1rem;
        color: #ffffff;
        font-size: 1.5rem;
        font-weight: 700;
    }
}