.modal {
    display: flex;
    justify-content: center;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .7);
}

.modal-window {
    @include modal-window;
 
    &__header {
        @include modal-header;
        background-color: $modal-header;
        &-close-btn {
            @include close-btn;
            background-color: $modal-header;
        }
    }
    &__body {
        background-color: $modal-body;
        @include modal-body;
    }
    &__footer {
        background-color: $modal-body;
        @include modal-footer;
    }
}