.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 24px;
  width: 100%;
  height: 100px;
  background: grey;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;

  span {
    font-size: 18px;
  }
}
