body {
  font-family: "Poppins", sans-serif;
}
ul {
  list-style: none;
  padding-left: 0;
}

.centered-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabs {
  display: flex;
}

.tabs-title {
  padding: 20px;
  background-color: #23201d;
  color: #937341;
  cursor: pointer;
}

.tabs-title.active {
  background-color: #937341;
  color: #23201d;
  transition: 1s;
}

.tabs-article {
  display: none;
}

.tabs-article.active {
  display: block;
  display: flex;
}

.character {
  width: 350px;
  height: 300px;
  margin-left: 10px;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  transform: scale(1);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 100px;
  margin-left: 20px;
}

.description {
  border: 1px solid black;
  padding: 10px;
}

.abc {
  position: relative;
}
.new {
  font-size: 15px;
  position: absolute;
  display: block;
  color: #ffdd00f0;
  background-color: #ff0000;
  clip-path: polygon(
    40% 0%,
    40% 20%,
    100% 20%,
    100% 80%,
    40% 80%,
    40% 100%,
    0% 50%
  );
  width: 27px;
  height: 23px;
  padding: 5px 10px 6px 8px;
  top: -10px;
  right: -20px;
  font-weight: bold;
  /* transform: rotate(-33deg); */

  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, 0, 0);
  animation-duration: 3s;
  transition: 2s ease-in-out;
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
