* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Roboto, sans-serif;
    transition: 0.5s;

}


/* черный фон у body по классу */
.dark {
    background-color: black;
}



.change-theme {
     position: absolute;
    left: 90%;
    top: 20px;
    width: 100px;
    height: 100px;
   
}

.btn-theme {
     text-align: center;
     color: rgb(20, 20, 20);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: bold;
    background-color: coral;
 }

 .btn-theme:hover {
    box-shadow: 0 0 10px silver;
 }
 .btn-theme:active {
    box-shadow: inset 0 0 5px silver;
 }

.wrapper {
    width: 1280px;
    margin: 0 auto;
}


/* LOGO SECTION */
.logo {
    font-size: 80px;
    line-height: 94px;
    margin-bottom: 38px;
    margin-top: 63px;
    color:black;
}

.logo-color {
    color: skyblue;
}


/*  классы новой темы */

 
.logoNew {
    font-size: 80px;
    line-height: 94px;
    margin-bottom: 38px;
    margin-top: 63px;
    color: white;
 }

.logo-colorNew {
    color: limegreen;
 }

 .navbarNew {
    background-color:#c5702a;
    margin-top: 38px;
    margin-bottom: 48px;
 }

 .navbar-menu-itemNew {
    list-style-type: none;
    border-left: 1px solid #fff;
    padding: 26px 33px 19px 32px;
 }

 .navbar-menu-itemNew:hover {
    background-color: #331a05;;
    transition: 0.5s;
 }

 .sidebar-listNew {
    margin-bottom: 50px;
    border: 1px solid #fff;
    width: 345px;
    height: 402px;
    margin-right: 52px;
 
 }

 .sidebar-itemNew:hover  {
    background-color: limegreen;
    padding-left: 90px;
    transition: 1s;
 }



 .main-imgNew {
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 885px;
    width: 885px;
    height: 529px;
    border: 1px solid #fff;
    margin-bottom: 37px;
    margin-left: 45px;
 }


 .main-pic {
    background-color:red;
 }

 .footer-listNew {
   
    background-color: #c5702a;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 54px;
    margin-bottom: 30px;
    height: 69px;
    font-size: 28px;
    line-height: 28px;
 } 


 .footer-linkNew:hover {
    border-bottom: 1px solid limegreen;
    color: limegreen;
    transition: 0.5s;
 } 
 
/* HEADER MENU SECTION */

.navbar {
    background-color: #35444F;
    margin-top: 38px;
    margin-bottom: 48px;
}

.navbar-menu {
    display: flex;
    justify-content: center;
}

.navbar-menu-item {
    list-style-type: none;
    border-left: 1px solid #fff;
    padding: 26px 33px 19px 32px;
}

.navbar-menu-item:hover {
    background-color: #222F3A;
    transition: 0.5s;
}

.navbar-menu-item:nth-child(4) {
    border-right: 1px solid #fff;

}

.navbar-menu-link {
    color: #fff;
    font-size: 24px;
    line-height: 28px;
}

/* SIDEBAR MENU */

.sidebar-menu {
    height: 403px;
    width: 345px;
}

.sidebar-list {
    margin-bottom: 50px;
    border: 1px solid #000000;
    width: 345px;
    height: 402px;
    margin-right: 52px;

}

.sidebar-item {
    font-size: 27px;
    padding-top: 26px;
    padding-bottom: 27px;
    padding-left: 44px;
}


.sidebar-item:hover {
    background-color: #DBDBDB;
    padding-left: 90px;
    transition: 1s;
}


.sidebar-item:hover a {
    color: #000 !important;

} 


.sidebar-link {
    display: block;
    color: #485863;

}




/* MAIN CONTENT MENU */
.main-section {
    display: flex;
    /* width: 885px; */

}


.main-content-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 885px;
    width: 885px;
    height: 529px;
    border: 1px solid #000000;
    margin-bottom: 37px;
    margin-left: 45px;

}


.article {
    padding-left: 50px;

}


.article-item-f {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 37px;
    color: #2C2C2C;
}


.article-item-s {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

/* FOOTER MENU */

 .footer-list {
    
    background-color:#63696e;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 54px;
    margin-bottom: 30px;
    height: 69px;
    font-size: 28px;
    line-height: 28px;
} 

.footer-item:last-child {
    font-size: 24px;
    margin-left: 82px;
    padding-right: 40px;
    display: flex;
    flex-wrap: nowrap;
}


.footer-link:hover {
    border-bottom: 1px solid #34a6db;
    color: #34a6db;
    transition: 0.5s;
} 

