* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 74px 0px 15px 0px;
    /* width: 1366px; */
    background: url(../img/background\ 1.png) no-repeat;
    background-position: center;
    background-size: cover;
    /* width: 1366px; */
}


.container {
    margin: 0 auto;
    width: 1030px;
}



.nav-info-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.logo-wrap {
    display: flex;
    align-items: center;

}

.logo {
    background-image: url(../img/logo.svg);
    display: block;
    width: 53px;
    height: 47px;
    margin-bottom: 26px;
    margin-right: 8px;
    margin-top: 2px;
    position: relative;
    top: -2px;
}

.logo:hover {
    background-image: url(../img/logo\ 2.png);
    transition: 0.5s;
}

.logo-wrap:hover .logo-text-hover {
    color: #F26522;
    transition: 0.5s;
}

.logo-wrap:hover .logo {
    background-image: url(../img/logo\ 2.png);
    transition: 0.5s;
}

.logo-text {
    margin-bottom: 22px;
}

.logo-text-name {
    font-weight: bold;
    font-size: 29px;
    color: #fff;
    text-transform: uppercase;
}

.logo-text-name2 {
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}




/* contacts */
.contacts {
    margin-right: 8px;
}

/* contacts hover - phone & email */
.contacts-mail:hover .contacts-mail-link {
    color: #F26522;
    transition: 0.5s;
}

.contacts-phone:hover .contacts-phone-link {
    color: #F26522;
    transition: 0.5s;
}

.contacts-mail {
    margin-bottom: 22px;
}

.contacts-phone {
    margin-bottom: 17px;
    text-align: right;
}

.contacts p a {
    font-size: 18px;
    color: #fff;
}

.offer-descriptions {
    color: #fff;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 1px;
}

/* IMG Grid */
.offer-items {
    display: grid;
    grid-template:
        "item1 item2 item3"
        "item4 item5 item6"
        / 300px 300px 300px;
    column-gap: 61px;
    row-gap: 78px;
}


.fix-img {
    width: 304px;
    height: 223px;
}

.offer-items-img1 {
    grid-area: item1;
}

.offer-items-img2 {
    grid-area: item2;
}

.offer-items-img3 {
    grid-area: item3;
}

.offer-items-img4 {
    grid-area: item4;
}

.offer-items-img5 {
    grid-area: item5;
}

.offer-items-img6 {
    grid-area: item6;
}

/* orange widnow styles */
.from {
    font-size: 10px;
    margin-top: 7px;
    margin-left: 16px;
    margin-bottom: 8px;
    color: #fff;
}

.price {
    font-size: 20px;
    color: #fff;
    margin-left: 16px;
}

.view-details {
    display: flex;
    align-items: flex-end;
    margin-right: 37px;
    margin-bottom: 12px;
    position: relative;
}



.view-details a {
    font-size: 14px;
    color: #fff;
    text-transform: capitalize;
}

.view-details::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    color: #fff;
    border-top: 2px solid white;
    border-right: 2px solid white;
    left: 88px;
    bottom: 4px;
    transform: rotate(42deg);
}


/* HOVER */
/* hover окно на картинке */
.hover-and-img-block {
    overflow: hidden;
    position: relative;
}

.offer-item_hover {
    width: 303px;
    height: 55px;
    background: #F26522;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 225px;
    left: 1px;
    transition: 0.4s linear;
}

.img-hover:hover .offer-item_hover {
    position: absolute;
    top: 170px;
    left: 1px;
}

.img-hover:hover .offer-descriptions {
    color: #F26522;
    transition: 0.4s;
}



.offer-item_hover2 {
    width: 298px;
    height: 55px;
    background: #F26522;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 236px;
    left: 3px;
    transition: 0.4s linear;
}

.img-hover:hover .offer-item_hover2 {
    top: 170px;
    left: 3px;
}

/* FOOTER */

.footer-title {
    font-size: 12px;
    color: #fff;
    text-align: center;
    margin-top: 49px;
}