.instagram-shots{
    margin-top: 60px;
    @media (min-width: 768px) {
      background-color: #F7F7F7;
    }
}

.instagram-shots{
    &__wrapper {
        padding-top: 47px;
        display: flex;
        justify-content: space-between;
        position: relative;
      }

       &__title {
    @include title;
    @include section-title;
  }

  &__title:before {
    content: "- ";
  }

  &__link {
    display: none;
    @include title;
    font-size: 13px;
    font-weight: bold;
    line-height: 22px;
    color: #4e4e4e;
    justify-self: end;
    @media (min-width: 768px) {
      display: block;

    }

  }

  &__link:after {
    content: ' -';
  }

  &__link {
    display: none;
    @include title;
    font-size: 13px;
    font-weight: bold;
    line-height: 22px;
    color: #4e4e4e;
    justify-self: end;
    @media (min-width: 768px) {
      display: block;

    }
  }

  &__img-wrapper {
    display: grid;
    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 10px;
    }
    @media (min-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 10px;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: auto;
    margin: 13px 10px 42px 0;
  }

  &__img:not(:first-of-type) {
    display: none;

    @media (min-width: 1201px) {
      display: inline;
    }
  }

  &__img:not(:last-of-type) {
    @media (min-width: 768px){
      display: inline;
    }
  }
}