.recent-posts {
    &__title {
      @include title;
      @include section-title;
      margin: 38px 0 23px;
    }
  
    &__title:before {
      content: "- ";
    }
  
    &__item-list {
      @media (min-width: 1201px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  
    &__item {
      margin-bottom: 28px;
      display: flex;
      flex-direction: column;
      @media (min-width: 768px) and (max-width: 1200px) {
        flex-direction: row;
      }
      @media (min-width: 1201px) {
        flex-direction: row;
      }
  
      &__item-wrapper {
        display: flex;
        @media (min-width: 768px) and (max-width: 1200px) {
          margin: 10px;
        }
  
      }
    }
  
    &__item:nth-of-type(4) {
      display: none;
      @media (min-width: 768px) and (max-width: 1200px) {
        display: flex;
      }
      @media (min-width: 1201px) {
        display: flex;
      }
    }
  
    &__item-img {
      width: 160px;
      height: 140px;
      margin-right: 20px;
    }
  
    &__item-title {
      font-size: 14px;
      font-weight: bold;
      line-height: 30px;
      color: #4e4e4e;
      margin-top: 11px;
    }
  
    &__item-description {
      display: none;
      font-size: 14px;
      line-height: 26px;
      color: #5c5c5c;
      @media (min-width: 768px) {
        display: inline;
      }
      @media (min-width: 1201px) {
        display: inline;
      }
    }
  
    &__item-author, &__item-comments {
      font-size: 11px;
      line-height: 20px;
      color: #7c7c7c;
    }
  
    &__item-comments:before {
      margin: 0 5px;
      content: " / ";
    }
  
  
  }